<html>
  <head>
    <title>Templating in Flask</title>
  </head>
  <body>
    <h1>Annotated Data Stream from Dump1090 </h1>

    <table>
        <tr>
          <th>Reporter</th>
          <th>Time</th>
          <th>ICAO</th>
          <th>Feet</th>
          <th>Lat</th>
          <th>Lon</th>
          <th>icao</th>
          <th>Manufacturer</th>
          <th>Aircraft</th>
          <th>N-number</th>
          <th>Registered</th>
          <th>Annotator</th>
        </tr>
        {% for message in messages %}

        <tr>
            <td>{{ message.reporter }}</td>
            <td>{{ message.time }}</td>
            <td>{{ message.ICAO }}</td>
            <td>{{ message.feet }}</td>
            <td>{{ message.lat }}</td>
            <td>{{ message.lon }}</td>
            <td>{{ message.icao }}</td>
            <td>{{ message.manufacturer }}</td>
            <td>{{ message.aircraft }}</td>
            <td>{{ 'message.n-number' }}</td>
            <td>{{ message.registered }}</td>
            <td>{{ message.annotator }}</td>
        </tr>
        {% endfor %}

       </table>

  </body>
</html>