.App {
  text-align: center;
}

.map-container {
  height: 800px;
  }

.marker {
    background-color: #4CAF50;
    /* border: 1px solid black; */
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin: 4px 2px;
    border-radius: 50%;
    width: 2px;
    height: 2px;
  }
  
